body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f9fafb;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.header-text {
    font-size: 2.5rem;
    color: #2c3e50;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.about-info {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    text-align: center;
}

.description p {
    font-size: 1rem;
    margin-bottom: 20px;
    line-height: 1.6;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    font-size: 1rem;
    margin: 10px 0;
    font-weight: bold;
    color: #555;
}

li:before {
    content: '•';
    color: #3498db;
    margin-right: 10px;
    font-weight: bold;
}
a{
    text-decoration: none;
    color: rgb(5, 5, 160)
}