body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}
p{
    margin: 0;
    padding: 0;
}
.main-text{
    text-align: center;
    border: 2px solid;
}


.tasks{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.task-card {
    margin-right: 15px; 
    border: 2px solid rgba(19, 131, 19, 0.8); 
    width: 200px; 
    padding: 15px; 
    background: linear-gradient(145deg, #ffffff, #e6e6e6); 
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.8);
    border-radius: 15px; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-shrink: 0;
    cursor: pointer; 
}

.mark-btn{
    background-color: rgb(110, 232, 110);
    margin-bottom: 5px;
    margin-top: 10px;
    border-radius: 5px;
    outline: 1px solid rgb(158, 15, 177);
    border: none;
}

.task-card:hover{
    transform: translateY(-5px);
}


a button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background: linear-gradient(145deg, #4CAF50, #45A049);
    border: none;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2), -3px -3px 8px rgba(255, 255, 255, 0.2);
    cursor: pointer;
    transition: transform 0.3s ease, background 0.3s ease;
}

a button:hover {
    background: linear-gradient(145deg, #45A049, #4CAF50);
    transform: translateY(-3px);
}
a{
    text-decoration: none;
}

.delete-btn{
    background-color: red;
    margin-left: 10px;
    border-radius: 5px;
}
.btns{
    display: flex;
}