{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>
    <link rel="stylesheet" href="{% static 'css/tasks.css' %}">
</head>
<body>
    <div class="container">
        <div class="main-text">
            <h1>Tasks</h1>
        </div>
        <div class="tasks">
            <div class="task-card">
                <p>Task name</p>
                <p>Description</p>
                <button class="mark-btn">Mark as completed</button>
            </div>
            <div class="task-card">
                <p>Task name</p>
                <p>Description</p>
                <button class="mark-btn">Mark as completed</button>
            </div>
            <div class="task-card">
                <p>Task name</p>
                <p>Description</p>
                <button class="mark-btn">Mark as completed</button>
            </div>
            <div class="task-card">
                <p>Task name</p>
                <p>Description</p>
                <button class="mark-btn">Mark as completed</button>
            </div>
            <div class="task-card">
                <p>Task name</p>
                <p>Description</p>
                <button class="mark-btn">Mark as completed</button>
            </div>
            <div class="task-card">
                <p>Task name</p>
                <p>Description</p>
                <button class="mark-btn">Mark as completed</button>
            </div>
            <div class="task-card">
                <p>Task name</p>
                <p>Description</p>
                <button class="mark-btn">Mark as completed</button>
            </div>
            <div class="task-card">
                <p>Task name</p>
                <p>Description</p>
                <button class="mark-btn">Mark as completed</button>
            </div>
            <div class="task-card">
                <p>Task name</p>
                <p>Description</p>
                <button class="mark-btn">Mark as completed</button>
            </div>
            <div class="task-card">
                <p>Task name</p>
                <p>Description</p>
                <button class="mark-btn">Mark as completed</button>
            </div>
            <div class="task-card">
                <p>Task name</p>
                <p>Description</p>
                <button class="mark-btn">Mark as completed</button>
            </div>
            <div class="task-card">
                <p>Task name</p>
                <p>Description</p>
                <button class="mark-btn">Mark as completed</button>
            </div>
            <div class="task-card">
                <p>Task name</p>
                <p>Description</p>
                <button class="mark-btn">Mark as completed</button>
            </div>
            <div class="task-card">
                <p>Task name</p>
                <p>Description</p>
                <button class="mark-btn">Mark as completed</button>
            </div>            <div class="task-card">
                <p>Task name</p>
                <p>Description</p>
                <button class="mark-btn">Mark as completed</button>
            </div>            <div class="task-card">
                <p>Task name</p>
                <p>Description</p>
                <button class="mark-btn">Mark as completed</button>
            </div>            <div class="task-card">
                <p>Task name</p>
                <p>Description</p>
                <button class="mark-btn">Mark as completed</button>
            </div>
        </div>
    </div>
    
    
</body>
</html>