{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>
    <link rel="stylesheet" href="{% static 'css/tasks.css' %}">
</head>
<body>
    <div class="container">
        <div class="main-text">
            <h1>Tasks</h1>
        </div>
        <a href="/create"><button>Создать задачу</button></a>
        <div class="tasks">
            {% for task in tasks %}
                <div class="task-card">
                    <p>{{ task.title }}</p>
                    <p>{{ task.description }}</p>
                    <p>{{ task.created_at }}</p>
                    <form method="POST" action="{% url 'mark_completed' task.id %}">
                        {% csrf_token %}
                        <button type="submit" class="mark-btn">Mark as completed</button>
                    </form>
                    <button class="edit-btn">Edit</button>
                </div>
            {% endfor %}
        </div>
    </div>
    
    
</body>
</html>